.text-currency {
  font-size: 30px;
  display: flex;
  align-items: center;

  small {
    font-size: 50%;
    font-weight: 600;
    margin: 0 0.1rem 0.5rem;
  }

  svg, i {
    font-size: 60%;
    font-weight: 600;
    margin: 0 0.1rem 0.7rem;
  }
}


.text-small {
  font-size: small;
}

.text-regular {
  font-size: 1.1rem;
}

.text-medium {
  font-size: 1.25rem;
}

.text-large {
  font-size: 1.4rem;
}

.text-xl {
  font-size: 1.5625rem;
}

.text-2xl {
  font-size: 2.5rem;
}

.text-3xl {
  font-size: 3rem;
}

.text-bold {
  font-weight: 700;
}

a.link {
  &:hover {
    text-decoration: underline !important;
  }
}

.text-gray-800 {
  color: #575757;
}
