.border-none {
  border: none;
}

.border {
  border: 1px solid rgba(lightgray, 0.6);
}

.custom-border-radius {
  border-radius: 5px;
}

.border-rounded {
  border-radius: 50px;
}

.border-curved {
  border-radius: 0.5rem;
}

.clear-radius {
  border-radius: 0;
}

.border-primary {
  border-color: $primary;
}
.border-muted {
  border-color: $muted !important;
}
